@charset "UTF-8";
.search {
  width: 50%;
  position: relative;
  top: 60px;
  margin: 0 auto;
  left: 50px;
}

.search-box__location {
  width: 20%;
  border: none;
  padding: 15px 25px;
  font-size: 14px;
  /* border-radius: 50px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.search-box__subject {
  width: 30%;
  border: none;
  padding: 15px 25px;
  font-size: 14px;
  /* border-radius: 50px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}
.search-box__name {
  width: 20%;
  border: none;
  padding: 15px 25px;
  font-size: 14px;
  /* border-radius: 50px; */
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  opacity: 0.7;
}
.search i {
  position: absolute;
  top: 15px;
  right: 60px;
  color: rgba(0, 0, 0, 0.1);
}
