@charset "utf-8";
/* @import "components/homePageHeader.css";
@import "components/homePageSearchBox.css";
@import "components/homePageMain.css"; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

* {padding: 0px; margin: 0px; box-sizing: border-box;}
.row {max-width: 1200px; padding: 0px 10px; margin: 0 auto;}
body {color: #2e363e; font-family: 'Noto Sans KR', sans-serif;
      font-family: 'Roboto', sans-serif;}
button {outline: none;}

/* header구역 */
#header {position: fixed; width: 100%; top: 0; left: 0; z-index: 9999999; background: #fff;}
#header.on .topmenu {display: none}
#header .topmenu {background: #f3f3f3; color:#999; text-align: right; padding: 5px 0;}
#header .topmenu a {display: inline-block; border-right: 1px solid #e3e3e3; padding: 2px 15px;
                    font-size: 14px; transition: all 0.5s;}
#header .topmenu a:nth-of-type(1) {border-left: 1px solid #e3e3e3}
#header .topmenu a:hover {color: green}
#header .menubar {max-width: 1200px; margin: 0 auto; position: relative;}
#header h1 {float: left; padding: 15px 10px 15px; padding-left: 20px; font-size: 40px; 
            font-weight: bold; background: green}
#header nav {position: absolute; top: 3px; bottom: 0; right: 100px; z-index: 9999;}
#header nav ul > li {float: left; position: relative; padding: 30px 14px; transition: all 0.5s;}
#header nav ul > li:hover {color: green}
#header nav ul > li > a {display: block; font-size: 21px; 
                         text-align: center; font-weight: bold}





/* footer구역 */
#footer {background: #303030; padding: 25px 0 15px; text-align: center; 
        color: #8d8b8b; font-size: 12px;}
#footer p:nth-child(1) a {font-weight: bold; display: inline-block; font-size: 13px; 
                          color: #bbb; padding: 0px 3px 0px 8px;}
#footer p:nth-child(1) a:hover {color: #fff;}
#footer p:nth-child(2) {margin-top: 17px; margin-bottom: 9px; line-height: 1.6;}

/* gotop버튼 */
.gotop {position: fixed; right: 10px; bottom: 10px;}
.gotop a {width: 45px; height: 45px; display: inline-block;
          background:#81d62b; color: #fff; text-align: center; padding-top: 3px;
          border-radius: 3px; transition: all 0.5s;}
.gotop a:hover {background: #478b02;}